<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/getgantry/gantry/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>+rH5zy+DZ5DGa+Nk3s66+zJpn9EuLAaRVyWHaLl9TRI=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Gantry uses Touch ID to confirm destructive actions like removing a container or deleting a host.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Docker Compose file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.yaml</string>
			</array>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Compose Up in apple/container</string>
			</dict>
			<key>NSMessage</key>
			<string>composeUp</string>
			<key>NSPortName</key>
			<string>Gantry</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.yaml</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
